
body {
    font-family: 'Kulim Park', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #666;
    margin: 0;
}

.bar {
    height: 100vh;
    display: flex;
    align-items: center;
}

.item {
    width: 100%;
    border-radius: 3px;
    padding: 10px 20px; 
}

.header h2 {
    margin: 0;
    margin-bottom: 20px;
}

.content [name="price-item"] {
    width: 100%;
    background-color: #222;
    border: none;
    border-bottom: 1px solid rgb(80, 204, 192);
    color: rgb(80, 204, 192);
    font-size: 1rem;
    outline-style: none; 
    padding: 5px 0;
}

.content label {
    cursor: pointer;
}

.any-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.any-item i {
    color: rgb(70, 190, 178);
    cursor: pointer;
    margin-left: 20px;
}

.any-item i:hover {
    color: rgb(134, 204, 197);
}

.economic-package input {
    margin: 0;
    margin-right: 10px;
}

.baseboard p {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.economic-package p:hover {
    color: rgb(70, 190, 178);
}

.baseboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result {
    margin-top: 20px;
    color: rgb(80, 204, 192);
    font-size: 1.2rem;
    font-weight: bold;
}

