body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 20px;
    color: #666;
}

.preco input {
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline-style: none;
    width: 100%;
    padding-left: 0;
}

.p-e {
    margin-top: 5px;
}

.p-e span {
    font-size: 1.2rem;
    margin-right: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    outline-style: none;
    cursor: pointer;
}

button:hover {
    border: 1px solid #aaa;
}